
{% extends '::base.html.twig' %}

{% block javascripts %}
{% javascripts
    '@AlticCdrBundle/Resources/public/js/*'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block body  %}
<form method="POST" action="">

    Desde: <input type="text" name="start_date" id="start_date" value="{{ params.start_date }}" />
    Hasta: <input type="text" name="end_date" id="end_date" value="{{ params.end_date }}" />

    <select name="field" id="field">
        <option value="disposition">Status</option>
        <option value="source">Source</option>
        <option value="destination">Destination</option>
    </select>

    <input type="submit" value="Filtrar" />
</form>

    {% if chart %}

       {{ fc(chart.buildXml(), asset('bundles/alticcdr/fc/Column2D.swf')) }}

    {% endif %}


{% endblock %}